.aboutContainer {
    background-color: #fff8f6;
    border-radius: 0 0 0 200px;
    padding: 94px 333px;
    margin: 0 auto;

    h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 105%; 
        text-align: center;
        color: #000;
        margin-bottom: 10px;
    }
}

.description {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #454545;
    margin-bottom: 84px;
}