.whosaleContainer {
    padding: 50px 20px;
    background-color: #fff8f6;
    
    .titleBlock {
        margin-bottom: 20px;
    }

    .firstBlock {
        margin-bottom: 20px;
    }

    .secondBlock {
        margin-bottom: 20px;
    }
}