.whosaleContainer {
    padding: 50px 20px;
    background-color: rgba(255, 228, 196, 0.632);
    
    .titleBlock {
        margin-bottom: 20px;
    }

    .firstBlock {
        margin-bottom: 20px;
    }

    .secondBlock {
        margin-bottom: 20px;
    }
}