.swiper-button-next,
.swiper-button-prev {
    background-image: url(circle.svg);
    background-position: center;
    fill: #fff;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    border: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 17px;
    color: black;
    
}

.swiper-button-prev {
    margin-top: -40px;
}

.swiper-button-next {
    margin-top: -50px;
    margin-right: -8px;
    background-color: black;
}

.swiper-button-prev:hover {
    color: white;
    fill: #f6623e;
}

.swiper {
    padding-left: 20px;
    overflow: hidden;
}