.productsContainer {
    max-width: 1810px;
    margin-top: 54px;
    margin-bottom: 170px;
    padding-left: 110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 170px;

    .textContainer {
        max-width: 57%;
        // width: 57%;
        margin-top: 120px;

        
        h4 {
            font-weight: 700;
            font-size: 16px;
            line-height: 512%;
            letter-spacing: 0.06em;
            color: #f6623e;
        }

        h3 {
            font-weight: 700;
            font-size: 46px;
            line-height: 113%;
            letter-spacing: 0.02em;
            color: #000;
            margin-bottom: 35px;
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 189%;
            letter-spacing: 0.06em;
            color: #828181;
            max-width: 805px;
            margin-bottom: 80px;
        }
    }
}

.cardList {

    width: 300px;

    img {
        width: 300px;
    }

    h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 137%;
        letter-spacing: 0.06em;
        color: #000;
        margin-top: 13px;
        margin-bottom: 11px;
    }

    strong {
        font-weight: 500;
        font-size: 15px;
        line-height: 133%;
        color: #f6623e;

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-decoration: line-through;
            color: #828181;
            margin-left: 6px;
        }
    }
}

.firstSwiper {
    :global {
        .swiper {
            position: relative;
        }
        
        .swiper-button-next,
        .swiper-button-prev {
            background-image: url(./circle.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
            border: none;
            // position: absolute;
            top: 50%;
            transform: translateY(-100%);

            &:hover {
                background: #f6623e;
            }
        }
        

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 16px;
            color: #000;
            transition: color 0.1s ease;
        }

        .swiper-button-next:hover::after,
        .swiper-button-prev:hover::after {
            color: #fff;
        }

        .swiper-button-next {
            right: 2%;
        }

        .swiper-button-prev {
            left: 0;
        }

        @media screen and (min-width: 1024px) and (max-width: 1330px) {
            .swiper-button-next {
                right: 10%;
            }

            .swiper-button-prev {
                left: 1%;
            }
        }

    }
}

.photoContainer {
    // position: relative;
    margin-top: 120px;
}

.pngBg {
   background-color: #fef0e7;
   border-radius: 20px;
    img {
        // display: none;
        max-width: 600px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1330px) {
    .productsContainer {
        max-width: 1330px;
        margin-top: 0;
        padding-left: 20px;

        .textContainer {
            margin-top: 90px;

            h4 {
                font-size: 12px;
            }

            h3 {
                font-size: 32px;
            }

            p {
                font-size: 12px;
                margin-bottom: 50px;
                width: 450px;
            }
        }
    }

    .cardList {

        width: 200px;

        img {
            width: 220px;
        }

        h5 {
            font-size: 12px;
            margin-bottom: 0;
        }

        strong {
            font-size: 11px;

            span {
                font-size: 10px;
            }
        }
    }

    .firstSwiper {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .pngBg {
        background-color: #fef0e7;
        border-radius: 20px;
         img {
             max-width: 420px;
         }
     } 
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .productsContainer {
        max-width: 1023px;
        margin-top: 0;
        padding-left: 10px;

        .textContainer {
            margin-top: 50px;

            h4 {
                font-size: 10px;
            }

            h3 {
                font-size: 26px;
            }

            p {
                font-size: 12px;
                margin-bottom: 30px;
                width: 400px;
            }
        }
    }

    .cardList {

        width: 150px;

        img {
            width: 220px;
        }

        h5 {
            font-size: 10px;
            margin-bottom: 0;
        }

        strong {
            font-size: 9px;

            span {
                font-size: 8px;
            }
        }
    }

    .firstSwiper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .pngBg {
        background-color: #fef0e7;
        border-radius: 20px;
        margin-left: 20px;
         img {
             max-width: 300px;
         }
     } 
}

@media screen and (min-width: 320px) and (max-width: 767px) {


    .cardList {
        margin: 0 auto;
        img {
            width: 340px;
        }
    }

    .productsContainer {
        display: flex;
        flex-direction: column;
        padding-left: 0px;

        .textContainer {
            margin: 0 auto;
            margin-top: 50px;

            h4 {
                font-size: 12px;
                line-height: 150%;
                margin-bottom: 20px;
            }

            p {
                font-size: 12px;
            }

            h3 {
                font-size: 26px;
            }
        }

        .pngBg {
            img {
                max-width: 300px;
            }
        }

    }
}

@media screen and (min-width: 1130px ) and (max-width: 1329px){
    .cardList {
        img {
            width: 230px;
        }
    }
}

@media screen and (min-width: 1510px) and (max-width: 1720px) {
    .cardList {
        width: 200px;

        img {
            width: 260px;
        }
    }
}

@media  screen and (min-width: 1331px) and (max-width: 1510px) {
    .cardList {
        width: 230px;

        img {
            width: 230px;
        }
    }
}