.reviewsContainer {

    padding: 0 20px 0 20px 0;

    h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 152%;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-top: 105px;
        margin-bottom: 50px;
    }
    
}

.secondSwiperSlide {
    border-radius: 20px;
    padding: 27px 0 41px 24px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 2px;
    margin-bottom: 70px;
    padding-right: 0;

    h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 90%;
        letter-spacing: 0.05em;
        color: #000;
        padding-bottom: 9px;
    }

    h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: #f6623e;
    }
    
    p {
        padding-top: 25px;
        font-weight: 500;
        font-size: 18px;
        line-height: 206%;
        letter-spacing: 0.06em;
        color: #000;
        width: 540px;
    }
}

.flex {
    display: flex;
}

.flexPhoto {
    display: flex;
    align-items: center;
    gap: 20px;
}

.swiperCont {
    background: #fff8f6;
    padding-top: 100px;
    padding-bottom: 100px;
}

.secondSwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    background-color: #fff8f6;
    padding-top: 80px;

    :global {
        .swiper {
            padding-right: 100px;
            .swiper-slide {
            }

            .swiper-pagination-bullet {
                margin-top: 150px;
                background: #FFFFFF;
                border: 2px solid #dfdfdf;
                width: 14px;
                height: 14px;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                border: 2px solid #f6623e;
                background: #F6623E;
            }
        }
    }
}

.swiper-pagination-bullet {
    background: #FFFFFF;
    border: 2px solid #dfdfdf;
    width: 14px;
    height: 14px;
}

// .swiper-pagination-bullet-active {
//     background: #F6623E;
//     border: none;
//     padding: 2px;
// }