.headerContainer {
    max-width: 1720px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    ul {
        display: flex;
        align-items: center;
    }


.titleList {
    li {
        margin-right: 70px;
    }

    li:last-child {
        margin-right: 0;
    }

    .underlineBlock {
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            line-height: 133%;
            color: #000;
            transition: color 0.3s ease;

            &::after {
                color: #f6623e;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #f6623e;
                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

.svgList {

    li {
        margin-right: 26px;
        transition: transform 0.3s ease;
    }

    li:last-child {
        margin-right: 0;
    }

    li:hover {
        transform: scale(1.2);
    }
    
    a {
        img {
            width: 24px;
            height: 24px;
        }
    }
}
}

.burderIcon {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .headerContainer {
        max-width: 1023px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .titleList {
        li {
            display: none;
        }
    }

    .svgList {
        li {
            display: none;
        }
    }

    .logo {
        img {
            width: 120px;
        }
    }

    .burderIcon {
        display: block;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .headerContainer {
        max-width: 767px;
        padding-left: 5px;
        padding-right: 5px;
        
    }

    .burderIcon {
        display: block;
    }

    .titleList {
        li {
            display: none;
        }
    }

    .svgList {
        li {
            display: none;
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1330px) {
    .headerContainer {
        max-width: 1330px;
        padding: 15px 50px;

        .titleList {
            li {
                margin-right: 35px;  
            }
        }
    }

    .logo {
        img {
            width: 120px;
        }
    }
}