.advantagesContainer {
   padding: 100px 330px 90px 330px;
   max-width: 1920px;

   ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
   }

   li {
    width: 170px;
    height: 25px;
   }
}

@media screen and (min-width: 900px) and (max-width: 1330px) {
   .advantagesContainer {
      max-width: 1330px;
      padding: 70px 150px;

      ul {
         gap: 100px;

         li {
            img {
               width: 120px;
            }
         }
      }
   }
}